--index https://mirrors.aliyun.com/pypi/simple
PyQt-Fluent-Widgets
colorama
requests
pyuac
keyboard
cpufeature
PyQt5
colorlog
psutil
comtypes
pycaw
win10toast
pillow
opencv-python
numpy
pywin32
screeninfo
pydantic
pyautogui
pygetwindow