--index https://mirrors.aliyun.com/pypi/simple
PyQt-Fluent-Widgets
colorama
requests~=2.32.5
pyuac~=0.0.3
keyboard~=0.13.5
cpufeature~=0.2.1
PyQt5~=5.15.11
colorlog~=6.9.0
psutil~=7.0.0
comtypes~=1.4.11
pycaw~=20240210
win10toast~=0.9
pillow~=10.4.0
opencv-python~=4.8.1.78
numpy~=1.26.4
pywin32~=311
screeninfo~=0.8.1
pydantic~=2.11.7
pyautogui~=0.9.54
pygetwindow~=0.0.9
pypiwin32~=223
packaging
openpyxl
playsound3